@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Shadows+Into+Light+Two&display=swap');


body {

font-family: "Fredericka the Great", cursive;

font-style: normal;

background: #f8f8f8;

}


.cabecalho-principal{

background: #2d8659;

color: #fff;

padding: 10px 0px;

text-align: center;

}

.titulo-app {

font-family: "Fredericka the Great", cursive;

font-size: 2.5em;

margin: 0;

}

.menu {

background: #444;

padding: 10px 0px;

justify-content: center; /* Alinha os itens para o centro */

gap: 10px; /* Espaço entre os links */

}


/* A lista que contém os links */

.menu ul {

list-style-type: none; /* tira as bolinhas */

padding: 5px 0px;

display: flex;

justify-content: center; /* Alinha os itens para o centro */

gap: 30px; /* Espaço entre os links */

}


/* O link <a> é o nosso "botão" principal */

.menu a {

color: white;

font-family: "Fredericka the Great", cursive;

font-size: 1.2em;

text-decoration: none;

padding: 8px 50px;

border-radius: 5px;

transition: all 0.3s ease; /* Suaviza animação */

}


/* EFEITO 1: Mudar a cor de fundo ao passar o mouse */

.menu a:hover {

background: #2d8659; /* Cor de fundo ao passar o mouse */

transform: translateY(-3px); /* Elevação */

box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Sombra para efeito 3D */ }


/* EFEITO 2: Destaque para o link da página ATIVA */

/* Adicione routerLinkActive="active" no seu HTML para funcionar */

.menu a.active {

background-color: #1abc9c; /* Cor de fundo de destaque */

color: #2c3e50; /* Cor do texto escura para contrastar */

}


/* EFEITO 3 (Opcional): Linha que "cresce" sob o link ao passar o mouse */

.menu a::after {

content: '';

position: absolute;

bottom: 0;

left: 50%;

width: 0;

height: 3px;

background-color: #1abc9c;

transition: all 0.3s ease-in-out;

transform: translateX(-50%);

}