<div class="container">
  <div class="card">
    <div class="header-lista">
      <h2>Lista de Alunos</h2>
      <button class="btn-novo" routerLink="/cadastrar"><span>+</span> Novo Aluno</button>
    </div>

    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>RA</th>
            <th>Nome</th>
            <th>CEP</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th class="acoes-header">Ações</th>
          </tr>
        </thead>

        <tbody>
          @for (aluno of listaAlunos; track aluno.id) {
            <tr>
              <td>{{ aluno.id }}</td>
              <td>{{ aluno.ra }}</td>
              <td class="nome-aluno">{{ aluno.nome }}</td>
              <td>{{ aluno.cep }}</td>
              <td>{{ aluno.nota01 }}</td>
              <td>{{ aluno.nota02 }}</td>
              <td class="acoes-buttons">
                <button class="btn-icon edit" [routerLink]="['/alterar', aluno.id]">✏️</button>
                <button class="btn-icon delete" (click)="excluir(aluno.id)">🗑️</button>
              </td>
            </tr>
          }

          @if (listaAlunos.length === 0) {
            <tr>
              <td colspan="7" class="fallback">Nenhum aluno cadastrado.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
